In [1]:
import pandas as pd

In [2]:
temp_df = pd.read_csv('daily-min-temperatures.csv', parse_dates=[0])

In [3]:
temp_df.head()

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

In [4]:
temp_df.shape

(3650, 2)

In [5]:
temp_df.shape[0]

3650

In [6]:
train_size = int(temp_df.shape[0]*0.8)
train_size

2920

In [7]:
train = temp_df[0:train_size]

In [9]:
test = temp_df[train_size:]

In [11]:
train.shape

(2920, 2)

In [12]:
test.shape

(730, 2)